.nav-container {
  height: 60px;
  top: 0;
  margin: 20px 0;
  width: 100%;
}

.nav.desktop ul {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  height: 100%;
}

.nav.desktop {
  height: 100%;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 769px) {
  .nav.desktop {
    display: none
  }
}

.nav.desktop ul li {
  margin: 0 10px;
  position: relative;
  display: inline-block;
}

.nav.desktop ul a {
  color: #666666;
  display: inline-block;
  font-size: 18px;
  font-family: 'IBM Plex Sans', sans-serif;
  letter-spacing: 2.5px;
  text-transform: lowercase;
  cursor: pointer;
  padding: 0 0 10px;
  margin: 15px 20px;
  position: relative;
}

.nav.desktop ul li a:after {
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #CAAD9D;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
}

.nav.desktop ul li a.active:after {
  opacity: 1;
  transform: translateY(0px);
}

.nav.desktop ul li:hover a:after {
  opacity: 1;
  transform: translateY(0px);
}

#nav-mobile {
  height: 100vh;
  width: 100%;
  display: block;
  background-color: #caad9d;
  z-index: 1;
  position: fixed;
  right: 0;
  top: 0;
}

#nav-btn-mobile {
  position: fixed;
  left: 10px;
  display: block;
  top: 10px;
  z-index: 999;
  padding: 25px 0;
  width: 70px;
  height: 70px;
  background-color: #fff;
  cursor: pointer;
}

@media (min-width: 769px) {
  #nav-btn-mobile {
    display: none;
  }

  #nav-mobile {
    display: none;
  }
}


#nav-btn-mobile .content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-align: center;
  align-items: center;
}

#nav-btn-mobile .content .container-bar {
  width: 20px;
  height: 1px;
  top: 1px;
  position: relative;
}

#nav-btn-mobile .content .container-bar .bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: #363f54;
  -webkit-transition: all .5s cubic-bezier(0,.785,0,1);
  transition: all .5s cubic-bezier(0,.785,0,1);
}

#nav-btn-mobile .content .container-bar .bar:nth-child(2) {
  transform: translateY(7px)
}

#nav-btn-mobile .content .container-bar .bar:first-child {
  transform: translateY(14px)
}


#nav-btn-mobile.active .content .container-bar .bar:nth-child(1) {
  transform: translateY(7px)
}

#nav-btn-mobile.active .content .container-bar .bar:nth-child(3) {
  transform: translateY(7px)
}

#nav-mobile .wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#nav-mobile .wrapper .container {
  height: 100%;
  width: 100%;
  position: relative;
  -webkit-transition: all .5s cubic-bezier(0,.785,0,1);
  transition: all .5s cubic-bezier(0,.785,0,1);
}

#nav-mobile .wrapper .container-linkPr ul {
  position: relative;
  list-style: none;
  text-align: right;
}

#nav-mobile .wrapper .container-linkPr {
  padding: 160px 60px 30px 15px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

#nav-mobile .wrapper .container ul li {
  font-family: 'Playfair Display';
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 2rem;
  position: relative;
}

#nav-mobile .wrapper .container ul li a:after {
  position: absolute;
  top: 105%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #efefef;
  content: '';
}
#nav-mobile .wrapper .container ul li a{
  color: #fff;
}
